# About "Expires Headers" via htaccess

<IfModule mod_expires.c>
  # Ajout des "content-type" corrects pour les fonts
  AddType font/ttf .ttf
  AddType font/otf .otf
  AddType font/woff .woff
  AddType font/woff2 .woff2
  AddType image/svg+xml .svg

  # Compression des fonts compatibles deflate
  AddOutputFilterByType DEFLATE font/ttf font/otf image/svg+xml


  # Ajout des "Expires headers" très loin dans le temps (1 an) 
  ExpiresActive On
  # Images
  ExpiresByType image/jpeg "access plus 1 week"
  ExpiresByType image/gif "access plus 1 week"
  ExpiresByType image/png "access plus 1 week"
  ExpiresByType image/webp "access plus 1 week"
  ExpiresByType image/svg+xml "access plus 1 week"
  ExpiresByType image/x-icon "access plus 1 week"
  # Video
  ExpiresByType video/mp4 "access plus 1 week"
  ExpiresByType video/mpeg "access plus 1 week"
  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  # Fonts
  ExpiresByType font/ttf "access plus 1 week"
  ExpiresByType font/otf "access plus 1 week"
  ExpiresByType font/woff "access plus 1 week"
  ExpiresByType font/woff2 "access plus 1 week"
  # Autres
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

# About des "Cache-Control Headers" via htaccess

<IfModule mod_expires.c>
  <IfModule mod_headers.c>
    <filesMatch "\.(ico|jpe?g|png|gif|webp|swf)$">
      Header append Cache-Control "public"  
    </filesMatch>
    <filesMatch "\.(woff|woff2|ttf|svg)$">
      Header append Cache-Control "public"  
    </filesMatch>
    <filesMatch "\.(css)$">
      Header append Cache-Control "public"
    </filesMatch>
    <filesMatch "\.(js)$">
      Header append Cache-Control "private"
  </filesMatch>
    <filesMatch "\.(x?html?|php)$">
      Header append Cache-Control "private, must-revalidate"
    </filesMatch>
  </IfModule>
</IfModule>
